node-red-flows/all-flows.txt
[{"id":"497a30a0.53094","type":"tab","label":"chart2","disabled":false,"info":""},{"id":"636851bf.5b5218","type":"inject","z":"497a30a0.53094","name":"","topic":"site1","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":180,"wires":[["c278bf35.2cc63"]]},{"id":"71844ab.4582eb4","type":"inject","z":"497a30a0.53094","name":"","topic":"clear","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":280,"wires":[["c278bf35.2cc63"]]},{"id":"c278bf35.2cc63","type":"function","z":"497a30a0.53094","name":"graph generate","func":"msg.payload=[{\n\"series\": [\"A\", \"B\", \"C\"],\n\"data\": [\n    [{ \"x\": 1504029632890, \"y\": 5 },\n     { \"x\": 1504029636001, \"y\": 4 },\n     { \"x\": 1504029638656, \"y\": 2 }\n    ],\n    [{ \"x\": 1504029633514, \"y\": 6 },\n     { \"x\": 1504029636622, \"y\": 7 },\n     { \"x\": 1504029639539, \"y\": 6 }\n    ],\n    [{ \"x\": 1504029634400, \"y\": 7 },\n     { \"x\": 1504029637959, \"y\": 7 },\n     { \"x\": 1504029640317, \"y\": 7 }\n    ]\n],\n\"labels\": [\"room1\",\"room2\",\"room3\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":200,"wires":[["fb0b671.b501498","d2a2e931.612ac8"]]},{"id":"fb0b671.b501498","type":"ui_chart","z":"497a30a0.53094","name":"","group":"2ac8e3fa.8b8584","order":5,"width":0,"height":0,"label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":240,"wires":[[]]},{"id":"d2a2e931.612ac8","type":"debug","z":"497a30a0.53094","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":160,"wires":[]},{"id":"775f4e64.e90f8","type":"function","z":"497a30a0.53094","name":"graph generate","func":"msg.payload=[{\n    \"series\": [\"temp1\", \"temp2\", \"temp3\" ],\n    \"data\": [ [5,6,9], [3,8,5], [6,7,2] ],\n    \"labels\": [ \"Jan\", \"Feb\", \"Mar\" ]\n}];\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":320,"wires":[["3c109361.751504","d2a2e931.612ac8"]]},{"id":"3c109361.751504","type":"ui_chart","z":"497a30a0.53094","name":"","group":"2ac8e3fa.8b8584","order":5,"width":0,"height":0,"label":"chart2","chartType":"bar","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"20","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":380,"wires":[[]]},{"id":"7fee5ecf.6db4f","type":"inject","z":"497a30a0.53094","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":360,"wires":[["775f4e64.e90f8"]]},{"id":"7413202c.f6fbe8","type":"function","z":"497a30a0.53094","name":"graph generate","func":"msg.payload=[{\n    \"series\": [ \"temp1\", \"temp2\", \"temp3\"],\n    \"data\": [ [5], [3], [6] ],\n    \"labels\": [ \"Jan\" ]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":440,"wires":[["5c90688e.ba153"]]},{"id":"e50e2ae1.16bfd8","type":"inject","z":"497a30a0.53094","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":440,"wires":[["7413202c.f6fbe8"]]},{"id":"5c90688e.ba153","type":"ui_chart","z":"497a30a0.53094","name":"","group":"2ac8e3fa.8b8584","order":5,"width":0,"height":0,"label":"chart3","chartType":"bar","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"20","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":480,"wires":[[]]},{"id":"2ac8e3fa.8b8584","type":"ui_group","z":"","name":"Default","tab":"ebb1ed1c.5ebe2","order":1,"disp":true,"width":"12","collapse":false},{"id":"ebb1ed1c.5ebe2","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]