node-red-flows/blynk-working-partialy.json
[
    {
        "id": "5a3ec8b3.a5ef98",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ff8181d1.e6469",
        "type": "google-cloud-pubsub in",
        "z": "5a3ec8b3.a5ef98",
        "account": "",
        "keyFilename": "/etc/secrets/iot-project-group6-7245b6b6144b.json",
        "subscription": "projects/iot-project-group6/subscriptions/newsub",
        "assumeJSON": false,
        "name": "Top10Pages",
        "x": 270,
        "y": 320,
        "wires": [
            [
                "1534aee1.90f6e1"
            ]
        ]
    },
    {
        "id": "1534aee1.90f6e1",
        "type": "google-cloud-gcs-read",
        "z": "5a3ec8b3.a5ef98",
        "account": "",
        "keyFilename": "/etc/secrets/iot-project-group6-7245b6b6144b.json",
        "filename": "gs://category_csv_file/top_ten_pages.json",
        "list": false,
        "name": "",
        "x": 520,
        "y": 320,
        "wires": [
            [
                "652a5da.c9acba4",
                "412e62cc.a0762c",
                "a49ad31f.c8f2d",
                "ce4694e1.f2ab98"
            ]
        ]
    },
    {
        "id": "652a5da.c9acba4",
        "type": "debug",
        "z": "5a3ec8b3.a5ef98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 200,
        "wires": []
    },
    {
        "id": "486adeb6.d14d9",
        "type": "blynk-ws-out-table",
        "z": "5a3ec8b3.a5ef98",
        "name": "",
        "pin": "1",
        "client": "b0664de5.b5e1",
        "x": 1080,
        "y": 780,
        "wires": []
    },
    {
        "id": "6cb47c45.ab8bc4",
        "type": "inject",
        "z": "5a3ec8b3.a5ef98",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 180,
        "wires": [
            [
                "1534aee1.90f6e1"
            ]
        ]
    },
    {
        "id": "412e62cc.a0762c",
        "type": "function",
        "z": "5a3ec8b3.a5ef98",
        "d": true,
        "name": "",
        "func": "let msg2 = msg.payload;\nvar msg1 = JSON.parse(msg2.toString());\n\nvar array = [];\n\nfor(var key in msg1[\"name\"]){\n  let array_each = [];\n  array_each.push(msg1['name'][key]);\n  array_each.push(msg1['fan_count'][key]);\n  array.push(array_each);\n  }\n \n\nmsgO.add = ['Page-name','fan-count'];\nfor(var list in array){\n    msgO.add = list;\n}\n\nreturn msgO;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 260,
        "y": 540,
        "wires": [
            [
                "dd5d76b7.f998c8"
            ]
        ]
    },
    {
        "id": "6a02628f.c6d34c",
        "type": "debug",
        "z": "5a3ec8b3.a5ef98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 280,
        "wires": []
    },
    {
        "id": "a49ad31f.c8f2d",
        "type": "function",
        "z": "5a3ec8b3.a5ef98",
        "name": "",
        "func": "let msg2 = msg.payload;\nvar msg1 = JSON.parse(msg2.toString());\n\nvar array = [];\n\nfor(var key in msg1[\"name\"]){\n  let array_each = [];\n  array_each.push(msg1['name'][key]);\n  array_each.push(msg1['fan_count'][key]);\n  array.push(array_each);\n  }\n  \n msg.payload = array;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 760,
        "y": 280,
        "wires": [
            [
                "6a02628f.c6d34c"
            ]
        ]
    },
    {
        "id": "222c9dda.4669b2",
        "type": "function",
        "z": "5a3ec8b3.a5ef98",
        "d": true,
        "name": "",
        "func": "msg.add = ['Page-name1','fan-count1'];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 240,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "dd5d76b7.f998c8",
        "type": "debug",
        "z": "5a3ec8b3.a5ef98",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 250,
        "y": 580,
        "wires": []
    },
    {
        "id": "c7e7f271.64e53",
        "type": "function",
        "z": "5a3ec8b3.a5ef98",
        "name": "",
        "func": "msg.add = msg.payload[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 760,
        "y": 520,
        "wires": [
            [
                "486adeb6.d14d9"
            ]
        ]
    },
    {
        "id": "794140c8.7e519",
        "type": "function",
        "z": "5a3ec8b3.a5ef98",
        "name": "",
        "func": "msg.add = ['Page-name','fan-count'];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 780,
        "y": 440,
        "wires": [
            [
                "486adeb6.d14d9"
            ]
        ]
    },
    {
        "id": "ce4694e1.f2ab98",
        "type": "function",
        "z": "5a3ec8b3.a5ef98",
        "name": "",
        "func": "let msg2 = msg.payload;\nvar msg1 = JSON.parse(msg2.toString());\n\nvar array = [];\n\nfor(var key in msg1[\"name\"]){\n  let array_each = [];\n  array_each.push(msg1['name'][key]);\n  array_each.push(msg1['fan_count'][key]);\n  array.push(array_each);\n  }\n  \n msg.payload = array;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 300,
        "y": 760,
        "wires": [
            [
                "794140c8.7e519",
                "c7e7f271.64e53",
                "48c7d1c2.6d18c",
                "75b6a253.ceccbc",
                "9875054a.705be8",
                "652f6f12.744e2",
                "4e8e37b4.6b09e8",
                "d82230b5.88813",
                "2f3055dd.cbdbba",
                "47a32807.bc6548",
                "451d4e5b.d6f26"
            ]
        ]
    },
    {
        "id": "48c7d1c2.6d18c",
        "type": "function",
        "z": "5a3ec8b3.a5ef98",
        "name": "",
        "func": "msg.add = msg.payload[1];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 740,
        "y": 580,
        "wires": [
            [
                "486adeb6.d14d9"
            ]
        ]
    },
    {
        "id": "75b6a253.ceccbc",
        "type": "function",
        "z": "5a3ec8b3.a5ef98",
        "name": "",
        "func": "msg.add = msg.payload[2];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 720,
        "y": 640,
        "wires": [
            [
                "486adeb6.d14d9"
            ]
        ]
    },
    {
        "id": "9875054a.705be8",
        "type": "function",
        "z": "5a3ec8b3.a5ef98",
        "name": "",
        "func": "msg.add = msg.payload[3];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 680,
        "y": 700,
        "wires": [
            [
                "486adeb6.d14d9"
            ]
        ]
    },
    {
        "id": "652f6f12.744e2",
        "type": "function",
        "z": "5a3ec8b3.a5ef98",
        "name": "",
        "func": "msg.add = msg.payload[4];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 660,
        "y": 760,
        "wires": [
            [
                "486adeb6.d14d9"
            ]
        ]
    },
    {
        "id": "4e8e37b4.6b09e8",
        "type": "function",
        "z": "5a3ec8b3.a5ef98",
        "name": "",
        "func": "msg.add = msg.payload[5];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 640,
        "y": 840,
        "wires": [
            [
                "486adeb6.d14d9"
            ]
        ]
    },
    {
        "id": "d82230b5.88813",
        "type": "function",
        "z": "5a3ec8b3.a5ef98",
        "name": "",
        "func": "msg.add = msg.payload[6];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 640,
        "y": 920,
        "wires": [
            [
                "486adeb6.d14d9"
            ]
        ]
    },
    {
        "id": "2f3055dd.cbdbba",
        "type": "function",
        "z": "5a3ec8b3.a5ef98",
        "name": "",
        "func": "msg.add = msg.payload[7];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 620,
        "y": 1000,
        "wires": [
            [
                "486adeb6.d14d9"
            ]
        ]
    },
    {
        "id": "47a32807.bc6548",
        "type": "function",
        "z": "5a3ec8b3.a5ef98",
        "name": "",
        "func": "msg.add = msg.payload[8];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 1060,
        "wires": [
            [
                "486adeb6.d14d9"
            ]
        ]
    },
    {
        "id": "451d4e5b.d6f26",
        "type": "function",
        "z": "5a3ec8b3.a5ef98",
        "name": "",
        "func": "msg.add = msg.payload[9];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 580,
        "y": 1120,
        "wires": [
            [
                "486adeb6.d14d9"
            ]
        ]
    },
    {
        "id": "b0664de5.b5e1",
        "type": "blynk-ws-client",
        "name": "",
        "path": "ws://blynk-cloud.com/websockets",
        "key": "OAHLXeQvHI_RNXxLxpJRQQ7llV3QO-yd",
        "dbg_all": false,
        "dbg_read": false,
        "dbg_write": false,
        "dbg_notify": false,
        "dbg_mail": false,
        "dbg_prop": false,
        "dbg_sync": false,
        "dbg_bridge": false,
        "dbg_low": false,
        "dbg_pins": "",
        "multi_cmd": false,
        "proxy_type": "no",
        "proxy_url": "",
        "enabled": true
    }
]